VAPID_PUBLIC_KEY=BADJvb5B5a_jdiFVShPoj42-5Q-hZoZpq2-AgEMgEktGI4qkg8ZMky1Vuukg5nB3ZKRn4oMqACobKsQEosrojaU
VAPID_PRIVATE_KEY=ZXN8uQP-Lh3nMktBcfAOXfCbBdI-3RClqUk2QINI3o0
VAPID_EMAIL=mailto:support@andorra-bank.com
